@model Geeky.Swimteam.Models.GImage

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBadge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBadge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThumbnailUrl)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
