@model Practice

@{
    ViewData["Title"] = "Unschedule Practice";
}

<h2>Unschedule Practice</h2>

<div>
    <h4>Are you sure you want to delete this practice from the schedule?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Begins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Begins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ends)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ends)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
    </dl>

    <form asp-action="Delete">

        <div class="form-group ">
            <div class="col-md-offset-2" style="padding-left: 1em;">
                <a asp-action="Index" class="btn btn-info glyphicon glyphicon-chevron-left"> </a>

                <button type="submit" value="Delete" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> Delete
                </button>
            </div>
        </div>

    </form>
</div>
